* {
    border: 2px solid red;
}
div {
    color: white;
    background-color: rgb(8, 8, 8);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

img {
    height: auto;
    width: 500px;
}

.p {
    font-size: 20px;
}
.d1 {
    font-weight: 700;
    font-size: 48px;
    text-shadow: 1cm;
    padding: 10px;
    height: 100px;
    width: 800px;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 540px;
}

#nextto {
    display: inline-block;
}
.linkLearn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-left: 0px;
    margin-top: 0px;
    position: fixed; right: 1720px; bottom: 800px;
}

.linkSocial {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-left: 0px;
    margin-top: 0px;
    position: fixed; right: 1620px; bottom: 800px;
}


